<div class="row">
  <aside class="col-md-4">
    <%= render 'layouts/side' %>
  </aside>
  <div class="col-md-8">
    <% if @user.follower_users.any? %>
      <h3>フォローされている人 (<%= @user.follower_users.count %>)</h3>
      <ol class="follow">
        <%= render partial: 'followers/follower', collection: @followers %>
      </ol>
    <% else %>
      <h3>フォローされている人はいません</h3>
    <% end %>
  </div>
</div>
