<div class="row">
  <aside class="col-md-4">
    <%= render 'layouts/side' %>
  </aside>
  <div class="col-md-8">
    <% if @user.following_users.any? %>
      <h3>フォローした人 (<%= @user.following_users.count %>)</h3>
      <ol class="follow">
        <%= render partial: 'followings/following', collection: @followings %>
      </ol>
    <% else %>
      <h3>フォローしている人はいません</h3>
    <% end %>
  </div>
</div>
